<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于系统演示</title>
 <style>
        .slogan {
            text-align: center;
			padding: 10px;
            background-color: #c1d8f5;
            color: #333;
            font-size: 40px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="slogan">
        <p>面向统计学的数据计算可视化分析平台</p>
    </div>
        <h1>系统相关演示数据与PPT</h1>
        <p>点击下面的链接下载文件：</p>
    <ul>
        <li><a href="/static/files/2024067766.pptx" download>下载PPT文件</a></li>
        <li><a href="/static/files/word.docx" download>例题word</a></li>
        <li><a href="/static/files/word.pdf" download>例题PDF</a></li>
        <li><a href="/static/files/word1.txt" download>数据TXT</a></li>
         <li><a href="/static/files/test.zip" download>zip</a></li>
       <li><a href="https://www.bilibili.com/video/BV15zhTeEEQC/?share_source=copy_web&vd_source=ec5b81b5e569e1d547a5496eefdc86ad">【系统测试视频】演示视频</a></li>
    </ul>
</body>
</html>